@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import'../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import'../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import'_variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.btn,
.alert,
.form-control {
    border-radius: 0px !important;
}

.btn-primary {
    background-color: $featured;
    border-color: $featured-dark;
    &:hover {
        background-color: $featured-dark;
    }
}
